<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>first_name</key>
		<string>John</string>
		<key>last_name</key>
		<string>Danner</string>
		<key>email</key>
		<string>jdanner@princeton.edu</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Jim</string>
		<key>last_name</key>
		<string>Hornthal</string>
		<key>email</key>
		<string>hornthal@princeton.edu</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Derek</string>
		<key>last_name</key>
		<string>Lidow</string>
		<key>email</key>
		<string>dlidow@princeton.edu</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Greg</string>
		<key>last_name</key>
		<string>Olsen</string>
		<key>email</key>
		<string>golsen@princeton.edu</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>James</string>
		<key>last_name</key>
		<string>Shinn</string>
		<key>email</key>
		<string>jshinn@princeton.edu</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Brian</string>
		<key>last_name</key>
		<string>Trelstad</string>
		<key>email</key>
		<string>bt2@princeton.edu</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Greg</string>
		<key>last_name</key>
		<string>Van Der Vink</string>
		<key>email</key>
		<string>gvdv@princeton.edu</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Karl</string>
		<key>last_name</key>
		<string>Zaininger</string>
		<key>email</key>
		<string>ziningr@princeton.edu</string>
	</dict>
	<dict>
		<key>first_name</key>
		<string>Ed</string>
		<key>last_name</key>
		<string>Zschau</string>
		<key>email</key>
		<string>ezschau@princeton.edu</string>
	</dict>
</array>
</plist>
